* {
    --background-color: rgb(244, 164, 96);
    --elements-color: rgb(176, 224, 230);

    --elements-border: 2px solid black;

    --font-size: 20px;
}

#user_options{
    font-size: var(--font-size);
}

#home_body {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: auto;
}

#home_body #filters {
    margin-top: 2em;
    margin-right: 2em;
    padding: 1em;
    border: var(--elements-border);
    border-radius: 10px;

    background-color: var(--elements-color);
}

#home_body #filters h2 {
    text-align: center;
}

#home_body #filters section h3 {
    margin: 1em 0;
}

#home_body #filters li {
    list-style-type: none;
}

#home_body #pets {
    margin-top: 2em;
    padding: 1em;
    border: var(--elements-border);
    border-radius: 10px;

    background-color: var(--elements-color);
}

#pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
}

.pets {
    text-align: center; 
    padding: 0.5em 0;
    margin: 0.5em;
    border-bottom: 2px solid black;

    background-color:  var(--elements-color);
}

.pets #petName{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.pets #petImage{
    margin: 0;
}

/* ############################### */

@media screen and (max-width: 1055px) {
    #pets {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content;
    }
}

@media screen and (max-width: 850px) {
    #pets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }
}

@media screen and (max-width: 650px) {
    #pets {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
}

@media screen and (max-width: 450px) {
    #home_body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    #home_body #filters, .nav {
        display: none;
    }
}